html, body {
    font-family: 'Trebuchet MS';
    height: 100%;
    margin: 0;
    padding: 0;
}


/* HEADER */
.navheader {
    width: 100%;
    background-color: black;
    color: white;
}

.navheader ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.navheader ul li {
    padding: 30px;
}

.navheader ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
/* HEADER */


/* FOOTER */
footer {
    background-color: black;
    color: white;
    text-align: center;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

#connect {
    padding-top: 10px;
    margin: 0;
}

.connections {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.socials {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* FOOTER */


/* HOME CONTENT */
#greeting {
    text-align: center;
}

#pictures {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap";
    margin: 0 20px 0 20px;
}

#me {
    border-radius: 30%;
    height: 670px;
    grid-area: overlap;
    align-self: center;
    justify-self: center;
    filter: drop-shadow(0 0 20px #000);
}

#bgImage {
    width: 100%;
    height: 700px;
    object-fit: cover;
    grid-area: overlap;
    align-self: center;
    justify-self: center;
}

.text {
    margin: 0 20px 0 20px;
    font-size: 20px;
}
/* HOME CONTENT */

